/* Body elements */

.block {

    margin-bottom: 5%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,0.5);
}

/* Header Monkey*/

#monkeyNumber {
    padding: 20px;
}

/* Image Monkey */
img {
    width: 400px;
    height: 300px;
}

/* Body About */
.about {
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}

/* Body Upload*/

#upload {
    padding: 20px;
}
/* - Upload form */

#uploadForm {
    margin: 5%;
}

#uploadForm input {
    margin: 10px;
}



