{$modules.head}

<div class="block">
    <div class="inner-block" align="center">
        <h2 id="monkeyNumber">Què és The Monkey Galley?</h2>
        <p class="about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas tellus ipsum, convallis nec arcu et, sollicitudin
            fermentum sem. Nulla facilisi. Phasellus pretium tortor erat,
            ut egestas turpis fermentum ut. In hac habitasse platea dictumst.
            In faucibus lorem orci, eget pretium augue faucibus ac. Nullam blandit
            nunc suscipit, tempus dolor sed, volutpat justo. Nunc ac justo sed ipsum
            faucibus iaculis. Vestibulum a magna elementum, consectetur magna at, tincidunt leo.
            Aenean eu orci at ante rhoncus elementum vitae vel nisl. Etiam fermentum
            elementum nunc, eget sollicitudin ante adipiscing vitae. Duis gravida bibendum
            urna. In hac habitasse platea dictumst. Sed vel pharetra neque.
            Nunc fringilla, arcu sed mattis euismod, mi urna imperdiet mauris,
            a interdum massa neque in nunc. Donec laoreet erat ligula,
            nec euismod mauris semper sit amet.
        </p>
        <p class="about">
            Nam tincidunt suscipit turpis at posuere. Quisque varius leo eget libero
            pharetra, et aliquam tellus egestas. Nunc varius cursus erat quis consequat.
            Etiam metus lectus, ullamcorper ac mauris id, pulvinar varius nulla. Maecenas
            accumsan dapibus mi, nec hendrerit enim pellentesque sit amet. Cras at adipiscing
            risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <br><br>
    </div>
</div>

<div class="clear"></div>

{$modules.footer}