	</div>
	<div id="footer">
		<a href="#top">The Monkey Gallery &#169</a>
	</div>
	
	<!-- 
		Els fitxers Javascript van al footer sempre tret de 
		 que siguin molt imprescindibles pel funcionament del web
	 -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{$url.global}/js/scripts.js"></script>
</body>
</html>